.banner {
  min-height: 480px;
}

.banner_img {
  background: url(../img/banner_image.png) 50% 0 no-repeat;
}

.banner_content {
  min-height: 480px;
}

.banner_content {
  background-color: #0071a8;
}

.banner_logo {
  background: url(../img/sprite.png) 0 -41px no-repeat;
  width: 79px;
  height: 92px;
  margin: auto;
  margin-bottom: 20px;
}

.banner_content-block {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.banner_text__title {
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.banner_text__block {
  font-size: 16px;
  line-height: 1.75;
}

@media screen and (min-width: 700px) {

  .banner {
    min-height: 768px;
  }

  .banner_img,
  .banner_content{
    min-height: 768px;
  }

  .banner_logo {
    margin-bottom: 70px;
  }

  .banner_content-block {
    width: 550px;
    padding-top: 129px;
  }

  .banner_text__title {
    font-size: 50px;
    margin-bottom: 35px;
  }

  .banner_text__block {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {

  .banner_content-block {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .banner_content-block {
    width: 550px;
  }
}



