.contacts {
  min-height: 89px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 12px;
}

.contact_number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.phone_icon {
  width: 22px;
  height: 21px;
}

.velcom {
  background: url(../img/sprite.png) 0 -20px no-repeat;
  margin-right: 10px;
}

.mts {
  background: url(../img/sprite.png) -45px -20px no-repeat;
  margin-right: 7px;
}

.phone {
  background: url(../img/sprite.png) -22px -20px no-repeat;
  margin-right: 5px;
}

@media screen and (min-width: 700px) {

  .contacts {
    font-size: 14px;
  }

  .contact_number {
    height: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts_container {
    width: 53%;
    margin: auto;
  }
}