.trampoline_mods {
  position: relative;
  min-height: 768px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.mods-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: -165px;
  transition: 0.5s;

  &__active {
    margin-top: 0;
  }
}

.mod-to-choose {
  position: relative;
  display: block;
  width: 50%;
  height: 213px;
  color: #fff;
  background-color: #007ebf;

  &:link,
  &:hover,
  &:visited,
  &:visited:hover {
    text-decoration: none;
    color: #fff;
  }

  &:active {
    background-color: #0070aa;
  }
}

.mod-to-choose_info {
  width: 100%;
  height: 165px;
}

.img_block {
  position: relative;
  width: 100px;
  height: 127px;
  margin: auto;
  padding-top: 40px;

  .desktop_img {
    display: none;
  }

  .mobile_img {
    display: block;
  }
}

.guarantee {
  display: none;
}

.mod-to-choose_button {
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin-top: -48px;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.advantage {
  display: none;
}

.full-info {
  width: 100%;
  margin-left: 60px;
  padding-left: 130px;
  transition:  0.5s;
}

.mod_header {
  font-size: 30px;
  color: #444242;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.the-best-sale {
  font-size: 17px;
  color: #4d4d4d;
  padding-bottom: 42px;

  span {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(../img/sprite.png) -34px 0 no-repeat;
    margin-right: 10px;
  }
}

.description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .description_text {
    h4 {
      font-size: 26px;
      font-weight: 600;
      line-height: 1.346;
      text-align: left;
      color: #0071a8;
      padding-bottom: 23px;
    }

    ul {
      font-size: 14px;
      line-height: 25px;
      color: #4d4d4d;
      padding-bottom: 25px;

      li {
        padding-bottom: 10px;
        padding-left: 25px;
        position: relative;

        &:before {
          content: "";
          display: inline-block;
          width: 9px;
          height: 9px;
          background-color: #ffcd07;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: 1px;
        }
      }
    }
  }
}

.order {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  padding-top: 35px;
  width: 110%;
}

.price {
  font-size: 30px;
  font-weight: 600;

  span {
    font-size: 18px;
    font-weight: 400;
  }
}

.order_button {
  position: relative;
  display: block;
  width: 169px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 30px;
  color: #000;
  border-radius: 2px;
  background-color: #ffcd07;

  &:link,
  &:hover,
  &:visited,
  &:visited:hover {
    text-decoration: none;
    color: #000;
  }

  &:hover {
    background-color: #ff9f07;
    transition: 0.5s;
  }

  .order_arrow {
    width: 50px;
    height: 50px;
    background-color: #ff9f07;
    padding-top: 16.5px;
    position: absolute;
    top: 0;
    right: 0;

    span {
      display: block;
      width: 10px;
      height: 17px;
      background:  url(../img/sprite.png) -24px 0 no-repeat;
      margin: auto;
    }
  }
}

.size-options {
    width: 865px;
    margin: auto;
    transition: 0.5s;

  .carousel-indicators {
    display: none;
    width: 865px;
    min-height: 100px;
    padding-bottom: 29px;
    border-top: 4px solid #e6e6e6;
    position: static;
    margin: 0;
  }
}

.size-options_block {
  float: left;
  width: 14.2%;
  text-align: center;

  &:link,
  &:hover,
  &:visited,
  &:visited:hover {
    text-decoration: none;
  }

  &.active {
    width: 14.2%;
    height: auto;
  }

  &.active .size-options_text {
    color: #0071a8;
    font-size: 25px;
  }

  &.active .size-options_dot {
    background-color: #0071a8;
    box-shadow: 0 2px 2px 0 rgba(#000, 0.2);
    margin-top: -12px;
    width: 23px;
    height: 23px;
  }

  &__inactive .size-options_text {
    color: #e6e6e6;
  }

  &__inactive .size-options_text,
  &__inactive .size-options_dot {
    cursor: default;
  }
}

.size-options_dot {
  display: block;
  background-color: #e6e6e6;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: auto;
  margin-top: -7px;
}

.size-options_text {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #4d4d4d;
  line-height: 1.278;
}


.hamburger-menu {
  position: relative;
  width: 278px;
  margin: auto;

  .choose-diameter {
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    width: 278px;
    height: 38px;
    font-size: 15px;
    color: #777;
    line-height: 38px;
    text-align: left;
    padding-left: 10px;

    span {
      float: right;
      display: inline-block;
      margin-top: 15px;
      margin-right: 10px;
      height: 8px;
      width: 16px;
      background: url(../img/sprite.png) -49px 0 no-repeat;
    }
  }

  .choose-diameter_options {
    display: none;

    &__active {
      display: block;
      position: absolute;
      top: 37px;
      left: 0;
      z-index: 2;
      padding-left: 10px;
      background-color: #fff;
      width: 100%;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
    }
  }

  .size-options_mobile_block {
    padding: 15px 0;

    &.active {
      color: #0070aa;
    }
  }
}

@media screen and (min-width: 701px) {
  .trampoline_mods {
    min-height: 768px;
    flex-flow: row nowrap;
  }

  .sidebar {
    width: auto;
  }

  .mods-options {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-left: -312px;
  }

  .mods-options__active {
    margin-left: 0;
  }

  .mod-to-choose {
    width: 372px;
    height: 384px;
    background-color: #50ac00;

    &:active {
      background-color: #3e8600;
    }
  }

  .mod-to-choose_info {
    width: 312px;
    height: 384px;
  }

  .img_block {
    width: 204px;
    height: 301px;
    padding-top: 45px;

    .desktop_img {
      display: block;
    }

    .mobile_img {
      display: none;
    }
  }

  .guarantee {
    display: block;
    position: absolute;
    top: 25px;
    right: -30px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #ffcd07;
    box-shadow: 0 3px 3px 0 rgba(#000, 0.13);
    font-size: 11px;
    color: #2e2503;
    line-height: 1.2;
    text-align: center;
    padding-top: 9px;

    span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .mod-to-choose_button {
    width: 384px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    top: 50%;
    left: 151px;
    font-size: 23px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .advantage {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.438;
    text-align: center;
    width: 263px;
    margin: auto;
    padding-top: 20px;
  }

  .full-info {
    width: 100%;
    margin-left: 60px;
    padding-left: 130px;
    transition:  0.5s;
  }
}

@media screen and (min-width: 1025px) {
  .description {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .hamburger-menu {
    display: none;
  }

  .size-options {
    .carousel-indicators {
      display: block;
    }
  }
}

@media screen and (min-width: 1300px) {
  .full-info__active {
    margin-left: 372px;
    padding-left: 60px;
    transition: 0.5s;

    .size-options {
      width: 100%;
    }
  }
}